.container{
  padding: 10px;
  border:1px solid black;
  border-radius: 3px 3px 3px 3px;
  color: white;
}
.primary{
  background: skyblue;
}
.danger{
  background: red;
}
.info{
  background: green;
}

