.TimePick{
  width: 80%;
  height: 300px;
  background: skyblue;
  margin: 0 auto;
  border-radius: 10px;

}

.TimeTitle{
  width: 96%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  .clickTime{
    font-weight: 700;
    font-size: 20px;

  }
  button{
    border: none;
    background: none;
  }

  .confirm{
    color: cornflowerblue;
  }
  .cancel{
    color: gray;
  }
}

.TimeSelect{
  display: flex;
  justify-content: space-around;

  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  height: 100%;
  background: pink;
  position: relative;
  .nowClick{
    margin: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 155px;
    border-top: 1px solid gray;
    border-bottom: 0.5px solid gray;
    //padding-left: 5px;
    width: 70%;
    height: 30px;
  }
  .hour{
    overflow: scroll;
    display: flex;
    width: 100px;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    //align-items:s;
    //overflow: scroll;
    //::-webkit-scrollbar{ display:none}
  }
  .min{
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .item{
    height: 30px;
    line-height: 30px;
    //display: flex;
    //align-items: center;
    background: greenyellow;
    width: 50px;
    text-align: center;
  }
}
