.button{
  display: flex;
  align-items: center;
  font-weight: 700;
}
.red{
  background: #ff0000;
  color: #ffffff;
}

.green{
  background: green;
  color: #ffffff;
}

.blue{
  background: skyblue;
  color: #ffffff;
}





